/*Large devices (Desktops & Laptops)*/

@media (min-width: 1200px){
   
}

/*Medium devices (Landscape Tablets & Media Deskots)*/

@media (min-width: 992px) and (max-width:1199px){
   .navbar{
      background: rgb(0,0,0);
      padding: 0;
   }
   
   .navbar-nav{
      float: left;
   }
   
   .universe-nav-wrapper{
      padding:0;
   }
}

/*Small devices (Portrait Tablets & Small Deskotps)*/

@media (min-width:768px) and (max-width:991px){
   
}

/*Extra small Devices (Landscape Phones & Portrait Tablets*/
@media (max-width: 767px){
   
}

/*Extra small devices*/
@media (max-width: 480px){
   
}

@media (max-width:320px){
   
}